doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    //nav.menu
    //  ul
    //    each item in menu
    //      li
    //        a(href=item.href)= item.text
    block content

    script(src='/frontend/js/main.js')